  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/skeleton.css">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
   <link rel="stylesheet" type="text/css" href="styles/ion.rangeSlider.css">
   <link rel="stylesheet" type="text/css" href="styles/ion.rangeSlider.skinHTML5.css">

  <!-- Javascript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <script type="text/javascript" type="text/js" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script type="text/javascript" type="text/js" src="/js/ion.rangeSlider.min.js"></script>
  <script type="text/javascript" type="text/js" src="bundle.js"></script>



  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <h1>Solar Vision</h1>
      <div class="twelve column">
        {{{ body }}}
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
