<div class="row kwGen">
    <div class="one-half column">
        <form id="solarForm" method="get" action="/">
            <h3>What's your monthly electric bill?</h3>
            <p>We use your bill to calculate how much electricity you use based on typical utility rates in your area.</p> 
            <input type="text" id="energyBill" name="energyBill">
        </form>
    <script type="text/javascript">
    //         $("#energyBill").ionRangeSlider({
    //             min: 100,
    //             max: 1000,
    //             from: 500,
    //             prefix: "$",
    //             step: 10,
    //             onChange: function (data) {
    //             console.log("onChange");
    // },
    //         })
    //     </script>
    </div>
    <div class="one-half column">
    <h3>Your recommended solar installation size</h3>
    <p>This size will cover about 99% of your electricity usage.
    Solar installations are sized in kilowatts (kW).</p>
    <div id="recInstallSize">
    </div>
    </div>
</div>
