/*div {
  box-sizing: border-box;
  border: 1px solid red;
}*/

.row h1 {
  padding-top: 40px;
  padding-bottom: 50px;
  text-align: center; 
}

.twelve.column {
margin-left: 0;
}

.kwGen {
  text-align: center;
}